body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: hsl(0, 0%, 95%);
  text-align: center;
}

a {
  color: #000000;
  text-decoration: none;
  transition: transform 0.1s ease-in-out;
}

a:hover {
  background-color: hsl(0, 0%, 70%);
  transform: scale(1.05);
  font-weight: bold;
}

a:active {
  transform: scale(0.95);
  font-weight: bold;
}

/* Meny Easy */

.flexBoxEasy {
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  align-items: center;
}

.flexChildEasy {
  margin: 0rem;
  padding: 1rem;
  width: 100%;
}

/* Menu Medium*/

.flexBoxMedium {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

.flexChildMedium {
  margin: 0rem;
  padding: 1rem;
}

.logoMediumMenu {
  margin-right: auto;
  margin-left: 1rem;
}

.menuMedium {
  display: flex;
  justify-content: space-evenly;
  margin-right: 1rem;
}

/* Menu Hard */

.flexBoxHard {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.menuHard {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

.menuHardChild {
  padding: 1rem;
}

button {
  cursor: pointer;
  border: none;
  background-color: white;
  border-radius: 1rem;
  border: 2px solid black;
  transition: background-color 0.1s, color 0.1s;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

button:hover {
  background-color: black;
  color: white;
}
